*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.card-container {
    width: 800px; 
    height: 500px;
    margin: auto;
    display: flex;
    background-color:#70dad5;
    flex-direction: column;
    box-shadow: 10px rgb(168, 11, 11);
    
}
.header{
    border: 1px solid #8ecf97;
    background-color: #2b3592;
    color: #2b928d;
    width: 800px;
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.card-content{
    height: 300px;
    width: 800px;
    display: flex; 
}
.image-container{
    margin: 5px;
}
.paragraf-container{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.paragraf{
    font-size: 25px;

}
.footer-container{
    height: 120px;
    width: 800px;
    display: flex;
    
}
.footer{
    margin: 5px;
}







